@use "./settings";

body {
  font-family: settings.$body-font-family;
}

// 覆盖vueitfy的默认样式
.sologo-btn {
  &.v-btn--size-default {
    --v-btn-size: 1rem;
    --v-btn-height: 52px;
    border-radius: 26px;
    min-width: 64px;
    padding: 0 22px;
  }

  &.v-btn--size-small {
    --v-btn-size: 0.875rem;
    --v-btn-height: 40px;
    border-radius: 20px;
    padding: 0 20px;
  }

  &.v-btn--size-large {
    --v-btn-height: 60px;
    border-radius: 30px;
  }

  .v-btn__append {
    transform: translate(-2px, 0);
  }

  &[floated] {
    border: settings.$floated-border !important;
    box-shadow: settings.$floated-shadow !important;
  }
}

.sologo-menu,
.sologo-autocomplete-menu {
  &.v-menu > .v-overlay__content {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  &.v-menu > .v-overlay__content > .v-card,
  &.v-menu > .v-overlay__content > .v-sheet,
  &.v-menu > .v-overlay__content > .v-list {
    padding: 5px;
  }

  .v-list-item--density-default.v-list-item--one-line {
    min-height: 50px;
    border-radius: 9999px;

    &:hover .v-list-item__content {
      color: rgb(var(--v-theme-primary));
    }

    .visible-hover {
      opacity: 0;
      // transition: opacity 0.2s ease-in-out;
    }
    &:hover .visible-hover {
      opacity: 1;
    }
  }
}

.sologo-text-field,
.sologo-autocomplete {
  &.v-input--density-default {
    .v-field {
      --v-field-padding-start: 30px;
      --v-field-padding-end: 30px;
      --v-input-control-height: 62px; // xxx: 这里实际高度会少2px，如果设置60px，则是58px？？？
    }
    .v-field--appended {
      padding-inline-end: 24px;
    }

    &:has(.v-field__append-inner .v-btn) {
      .v-field {
        --v-input-control-height: 66px;
      }
      .v-field--appended {
        padding-inline-end: 6px;
      }
    }
  }

  // .v-input__control {
  //   background: rgb(var(--v-theme-gray-light));
  // }

  &.outlined {
    .v-input__control {
      border: 1px solid #d2d5db;
      border-radius: 9999px;
    }
  }

  &.floated {
    .v-input__control {
      border: settings.$floated-border;
      border-radius: 9999px;
      box-shadow: settings.$floated-shadow;
    }
  }
}

.sologo-autocomplete {
  &.v-input--density-default {
    .v-field {
      --v-input-control-height: 60px;
    }

    &:has(.v-field__append-inner .v-btn) {
      .v-field {
        --v-input-control-height: 64px;
      }
    }
  }

  &.v-autocomplete .v-field .v-field__input > input {
    align-self: center;
  }
}
